<% provide(:title, "Log in") %>

<div class="Form-Wrap">
    <h1>Log in</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.email_field :email, class: 'input', :placeholder => "Email" %>

      <%= f.password_field :password, class: 'input', :placeholder => "Password" %>
      
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>      

      <%= f.submit "Log in", class: "buttonBox" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
</div>
