<body background="http://www.gffoodservice.org/wp-content/uploads/2015/03/restaurant.jpg"> </body>

<%begin%>
<%response = Yelp.client.business(identity)%>
<%rescue => ex%>
<script>
    document.write("Sorry");
    window.location.replace("/searches/show");
</script>
<%="Sorry this restaurant is unavailable for reserving"%>
<%else%>

<div class = "wrapSearch2">

<h1Search><%= response.business.name%><br/></h1Search>
<%= image_tag response.business.image_url%><br/>
<b>Phone Number: </b><%= response.business.display_phone%><br/>
<b>Address: </b><%= (response.business.location.display_address).to_sentence(two_words_connector: ',',last_word_connector:',')%><br/>
<% if response.business.rating == 4.5%>
<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="4.5" height="20" width="100">
<% elsif response.business.rating == 4%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="4" height="20" width="100">
<% elsif (response.business.rating == 5)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png" alt="5" height="20" width="100">
<%elsif (response.business.rating == 3.5)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png" alt="3.5" height="20" width="100">
<%elsif (response.business.rating == 3)%>
<img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png" alt="3" height="20" width="100">
<%elsif (response.business.rating == 1)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f64056afac01/ico/stars/v1/stars_1.png" alt="1" height="20" width="100">
<%elsif (response.business.rating == 0)%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/04ae5eda5622/ico/stars/v1/stars_0.png" alt="0" height="20" width="100">
<%elsif (response.business.rating == 1.5)%>
<img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/11e62fee886f/ico/stars/v1/stars_1_half.png" alt="1.5" height="20" width="100">
<%elsif (response.business.rating == 2)%>
<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b561c24f8341/ico/stars/v1/stars_2.png" alt="2" height="20" width="100">
<%else%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png" alt="2.5" height="20" width="100">

</div>

<%end%>
<br/>
<br>
<br>
<%end%>
<% provide(:title, 'Restaurants Reservation') %>
<div class="Booking-Wrap">
  <h2Search>Book a table</h2Search>
    <%= form_for(@booking) do |f| %>
    <% if @booking.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@booking.errors.count, "error") %> prohibited
        this booking from being created:
      </h2>
      <ul>
        <% @booking.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <font color = "white"><%= f.label :people, "How many people?"%></font>
      <%= f.text_field :people, class: 'form-control'%>
      
      <font color = "white"><%= f.label :Restaurant_Date, "Reservation Date"%></font>
      <%= f.date_field :restaurant_date%>
      
      
     <font color = "white"> <%= f.label :time, "Reservation Time"%></font>
      <div style="display:block;">
      <%= f.time_select :time,{start_hour: 18, end_hour: 22}, { :class => "col-md-4" }%>
      </div>
      <%= f.submit "Reserve", class: "semi-transparent-button2" %>
    <% end %>
</div>


<h2Search>Reviews</h2Search>
<%j=0%>
<%while j < Review.pluck(:body).count%>
  <%if response.business.name == Review.pluck(:restaurants)[j]%>

  <div class = "wrapReview">
  <pSearch> 

    <%time = Time.parse(Review.pluck(:created_at)[j].to_s)%><br/>
    <b>Reviewer: </b><%=Review.pluck(:reviewer)[j]%><br/>
    <b>Restaurant Name: </b><%=Review.pluck(:restaurants)[j]%><br/>
    <b>Body: </b><%=Review.pluck(:body)[j]%><br/>
    <b>Date and Time reviewed: </b><%=time.in_time_zone("Pacific Time (US & Canada)")%><br/>

  </pSearch> 
  </div>

<%end%>
<%j+=1%>
<%end%><br/>

<font color="white"><%=link_to "Go Back to Search", search_path(Search.maximum(:id))%></font>
