<% provide(:title, 'Search for Restaurants') %>
<h1>Restaurant Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :search, url: searches_path do |f| %>
      <%= f.label :Restaurant_name, "Restaurant Name (optional)"%>
      <%= f.text_field :restname, class: 'form-control' %>

      <%= f.label :Location, "Enter a nearby location (required)"%>
      <%= f.text_field :location, class: 'form-control' %>
      
      <%= f.label :Search_Limit, "Search Limit(Min 1,Max 20)"%>
      <%= f.text_field :slimit, class: 'form-control' %>
      
      <%= f.label :offset, "Starting Result (required)"%>
      <%= f.text_field :offset, class: 'form-control' %>
      
      <%= f.label :sort, "Sort"%>
      <%= f.select :sort, ['0 (Best Matched)','1 (Distance)','2 (Highest Rated)'], class: 'form-control' %>

      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
