<body background="http://www.ambwallpapers.com/wp-content/uploads/2015/02/Building-City-For-Effect-Camera-Wallpaper-Images-68.jpg"> </body>

<% provide(:title, 'Search for Restaurants') %>
<h1>Restaurant Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@search) do |f| %>
    <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@search.errors.count, "error") %> prohibited
        this booking from being created:
      </h2>
      <ul>
        <% @search.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
      </div>
  <% end %>
      <%= f.label :Restaurant_name, "Restaurant Name (optional)"%>
      <%= f.text_field :restname, class: 'form-control'%>

      <%= f.label :Location, "Enter a nearby location (required)"%>
      <%= f.text_field :location, class: 'form-control', :placeholder => "combination of postal code, city, address, and or country"%>
      
      <%= f.label :sort, "Sort"%>
      <%= f.select :sort, ['0 (Best Matched)','1 (Distance)','2 (Highest Rated)'], class: 'form-control' %>

      <%= f.submit "Search", class: "semi-transparent-button2" %>
    <% end %>
  </div>
</div>
