  <%i=0%>
  <center class = "center">
  <center><%= link_to 'New Restaurant Search', new_search_path, class: "semi-transparent-button2"%></center>
  </center>
  <h1>Reviews</h1>
  
    <%while i < Review.pluck(:body).count%>
      <div class = "wrapReview2">
      <pSearch> 

  <%time = Time.parse(Review.pluck(:created_at)[i].to_s)%><br/>
  <b>Restaurant Name: </b><%=Review.pluck(:restaurants)[i]%><br/>
  <b>Reviewer: </b><%=Review.pluck(:reviewer)[i]%><br/>
  <b>Body: </b><%=Review.pluck(:body)[i]%><br/>
  <b>Date and Time reviewed: </b><%=time.in_time_zone("Pacific Time (US & Canada)")%><br/>



      <% if Review.pluck(:stars)[i] == '4.5'%>
              <img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="4.5" height="20" width="100">
          <% elsif Review.pluck(:stars)[i] == '4'%>
              <img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="4" height="20" width="100">
          <% elsif(Review.pluck(:stars)[i] == '5')%>
              <img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png" alt="5" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '3.5')%>
              <img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png" alt="3.5" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '3')%>
              <img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png" alt="3" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '1')%>
              <img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f64056afac01/ico/stars/v1/stars_1.png" alt="1" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '0')%>
              <img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/04ae5eda5622/ico/stars/v1/stars_0.png" alt="0" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '1.5')%>
              <img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/11e62fee886f/ico/stars/v1/stars_1_half.png" alt="1.5" height="20" width="100">
          <%elsif(Review.pluck(:stars)[i] == '2')%>
              <img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b561c24f8341/ico/stars/v1/stars_2.png" alt="2" height="20" width="100">
          <%else%>
              <img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png" alt="2.5" height="20" width="100">
              
          <%end%>
    </pSearch> 
</div>
    <%i+=1%>
    <% end %>
    </table>