<body background = "http://www.vianorterest.com/restaurants/vianorte/website/images/backgrounds/body-background6.jpg"></body>
                          
<div class = "wrapSearch2">                          
<%response = Yelp.client.business(@identity)%>
<h1Search><%= response.business.name%><br/></h1Search>
<%= image_tag response.business.image_url%><br/>
<b>Phone Number: </b><%= response.business.display_phone%><br/>
<b>Address: </b></b><%= (response.business.location.display_address).to_sentence(two_words_connector: ',',last_word_connector:',')%><br/>
<% if response.business.rating == 4.5%>
<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/99493c12711e/ico/stars/v1/stars_4_half.png" alt="4.5" height="20" width="100">
<% elsif response.business.rating == 4%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c2f3dd9799a5/ico/stars/v1/stars_4.png" alt="4" height="20" width="100">
<% elsif (response.business.rating == 5)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f1def11e4e79/ico/stars/v1/stars_5.png" alt="5" height="20" width="100">
<%elsif (response.business.rating == 3.5)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/v1/stars_3_half.png" alt="3.5" height="20" width="100">
<%elsif (response.business.rating == 3)%>
<img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/34bc8086841c/ico/stars/v1/stars_3.png" alt="3" height="20" width="100">
<%elsif (response.business.rating == 1)%>
<img src="http://s3-media1.fl.yelpcdn.com/assets/2/www/img/f64056afac01/ico/stars/v1/stars_1.png" alt="1" height="20" width="100">
<%elsif (response.business.rating == 0)%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/04ae5eda5622/ico/stars/v1/stars_0.png" alt="0" height="20" width="100">
<%elsif (response.business.rating == 1.5)%>
<img src="http://s3-media3.fl.yelpcdn.com/assets/2/www/img/11e62fee886f/ico/stars/v1/stars_1_half.png" alt="1.5" height="20" width="100">
<%elsif (response.business.rating == 2)%>
<img src="http://s3-media2.fl.yelpcdn.com/assets/2/www/img/b561c24f8341/ico/stars/v1/stars_2.png" alt="2" height="20" width="100">
<%else%>
<img src="http://s3-media4.fl.yelpcdn.com/assets/2/www/img/c7fb9aff59f9/ico/stars/v1/stars_2_half.png" alt="2.5" height="20" width="100">
<%end%>
<br/>
</div>
<center><h2Search>New Review</h2Search></center>
<%= form_for :review, url: reviews_path do |f| %>
  
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@review.errors.count, "error") %> prohibited
        this rectangle from being created:
      </h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <p>
    <font color = "white"><h2Search><%= f.label :body %></font></h2Search><br>
    <%= f.text_area :body, maxlength: @maximum_length, id: 'review_text' %>
    <font color = "white"> Chars remaining: <span id="counter" data-maximum-length = "1000"></span></font>
  </p>
  
  <p>
   <font color = "white"><h2Search> <%= f.label :stars %></font></h2Search><br>
    <%= f.select :stars, ['0','1','1.5','2','2.5','3','3.5','4','4.5','5']%>
  </p>
  
  <%= f.submit "Submit", class: "semi-transparent-button" %>
  <% end %>
<%= link_to 'Back', url_for(:back)%><br/>

<script>
    $(document).ready(function() {
      var review_text = $("#review_text");
      var counter     = $("#counter");
      var max_length  = counter.data("maximum-length");

      review_text.keyup(function() {
          counter.text(max_length - $(this).val().length);
      });

    });
</script>

<h2Search>Reviews</h2Search>
<%j=0%>
<%while j < Review.pluck(:body).count%>
  <%if response.business.name == Review.pluck(:restaurants)[j]%>

  <div class = "wrapReview2">
  <pSearch> 

    <%time = Time.parse(Review.pluck(:created_at)[j].to_s)%><br/>
    <b>Restaurant Name: </b><%=Review.pluck(:restaurants)[j]%><br/>
    <b>Reviewer: </b><%=Review.pluck(:reviewer)[j]%><br/>
    <b>Body: </b><%=Review.pluck(:body)[j]%><br/>
    <b>Date and Time reviewed: </b><%=time.in_time_zone("Pacific Time (US & Canada)")%><br/>

  </pSearch> 
  </div>

<%end%>
<%j+=1%>
<%end%><br/>