<!DOCTYPE html>
<html>
  <style>
    div5{
      color: white;
      font-family: "Palatino Linotype";
      font-size: 20px;
    }
  </style>
  
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %> 
  <ul> 
    <li><%= current_user.email %></li> 
    <li><%= link_to "Log out", logout_path, method: "delete" %></li> 
  </ul> 
<% else %> 
  <ul> <div5>
    <li><%= link_to "Login", 'login',:style=>"color:white;" %></a></li> 
    <li><%= link_to "Signup", 'signup',:style=>"color:white;" %></a></li> 
    </div5>
  </ul> 
<% end %>
<%= yield %>

</body>
</html>
